.introduce{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#621BE7,#B131F3);
    display: flex;
    align-items: center;
    justify-content: center;

}
.introduce-container{
    max-width: 700px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    
}
.image{
    max-width: 150px;
    height: auto;
    padding: 10px;
    }
.introduce-btn{
    width: 350px;
    height: 50px;
    font-size: 17px;
    background-color: #B131F3;
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
    cursor: pointer;



}